<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pahelukadam.pahelukadam">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAHELUKADAM">
        <activity
            android:name="com.pahelukadam.pahelukadam.ui.account.AccountFragment"
            android:exported="false" />
        <!-- HubActivity (Main container for Bottom Navigation + Fragments) -->
        <activity
            android:name="com.pahelukadam.pahelukadam.ui.HubActivity"
            android:exported="true" /> <!-- SignUp Screen -->
        <activity
            android:name="com.pahelukadam.pahelukadam.SignUpActivity"
            android:exported="false" /> <!-- Splash Screen (Launcher) -->
        <activity
            android:name="com.pahelukadam.pahelukadam.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.PAHELUKADAM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity (optional entry after splash/login) -->
        <activity
            android:name="com.pahelukadam.pahelukadam.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PAHELUKADAM" />
    </application>

</manifest>